#xsqj-dwzx-switch-title {
	font-weight: bold;
	font-size: 14px;
	float: left;
}

#suggestId{
  	box-sizing: border-box;
    text-align: center;
    font-size: 1.2em;
    height: 2.0em;
    border-radius: 4px;
    border: 1px solid #c8cccf;
    display: block;
    width: 180px;
    position: relative;
    bottom: 387px;
    left: 2px;
}