.batch-manage-width {
    width: 80px;
}

.handle-statistics {
    width: 104px;
}

.congif-setting-edit-div {
    width: 160px;
}

.xsfwpj-nav{
  z-index: 999;
  position: fixed;
  right: 0;
  top:40vh;
  width: 40px;
  height: 135px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 4px;    
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.0980392156862745);
  cursor: pointer;
} 

.xsfwpj-nav-icon {
  height: 45px;
  text-align: center;
  padding: 15px 0px 10px 0px;
}

.xsfwpj-nav-icon img {
  width: 20px;
  height: 20px;
}

.xsfwpj-nav span {
  width: 14px;
  font-size: 14px;
  color: #2E8CF0;
  line-height: 20px;
  margin:4px 11px 0px 15px;
  letter-spacing: 6px;
  writing-mode: tb-rl;
}

.xsfwpj-nav-icon:hover span {
  color: #2e8cf0;
}

 