.bh-bg-primary-lv2 {
    background-color: #ECEEF8;
}
.qjsz-button-edit {
    font-weight: normal;font-size: 12px;cursor:pointer;
}
.qjsz-addpage-input {
    display: inline-block;
    width: 100px;
}
.qjsz-addpage-steps .bh-checkbox {
    padding-top: 0px;
}
.qjsz-add-icon {
    border-radius: 10px;
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    
}
.xzqjlx-step-set-add {
    cursor: pointer;
}
.qjts-remind-span {
	display: block;
	color: black; 
	min-height: 32px; 
	background: #FFFDF5; 
	border: 1px solid #FCECE7;
	line-height: 32px;
}
.jqx-calendar-cell-selected{
	background-color: #fff !important;
    color: #333 !important;
    margin: 0;
    cursor: pointer;
}
.jqx-calendar-cell-specialDate{
	background-color: #FB8499 !important;
    color: #333 !important;
    margin: 0;
    cursor: pointer;
}
.scenes-cbrt-left {
    float: left;
    width: 24px;
    z-index: 100;
    position: relative;
}
.scenes-cbrt-record-first:before {
    background-color: transparent;
}
.scenes-cbrt-no {
    width: 24px;
    height: 24px;
    font-size: 12px;
    border-radius: 100%;
    border: 1px solid #D8DCF0;
    color: #D8DCF0;
    text-align: center;
    background-color: #fff;
    /* margin-top: 24px; */
}

.scenes-cbrt-record-active .scenes-cbrt-no {
    color: #2196F3;
    border-color: #2196F3;
}
.scenes-cbrt-card-view .scenes-ci-container-block:after {
    border-left: none;
}
.scenes-cbrt-record:first-child:before{
    position: absolute;
    width: 1px;
    left: 12px;
    background-color: #ffffff;
    z-index: 1;
    display: block;
}
.qjsm-button-edit {
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}